/* ToastExample.css */
.custom-toast {
  position: absolute;
  top: 0;
  right: 0;
  /* width: 150px; */
  background-color: #f8d7da;
  color: #721c24;
  border: 2px #f8d7da;
  border-radius: 4px;
  margin: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-toast .toast-header {
  background-color: #f5c6cb;
  color: #721c24;
  padding: 2px;
  border-bottom: 2px solid white;
  border-radius: 3px 3px 0 0;
}

.custom-toast .toast-body {
  padding: 0px 10px 0px 10px;
}
